
body {
    background-color: khaki;
}


.container {
    border: 5px solid green ;
    display: flex;
    margin: 100px;
    flex-direction: row;
    justify-content: space-around;

}

.logout {
    /* margin-left: auto; */
}

/* .container > div {
    flex: 1; */
    /* flex-grow flex-shrink flex-basis */
    
/* } */ 

/* .container > .search {
    flex: 2;
} */


/* .home {
    flex: 1px;
} */